body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f6f3;
  color: #333;
}

header {
  background-image: url("./StoreAnonym.jpg");
  background-position: center;
  padding: 20px;
  color: white;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.product-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  width: 150px;
  text-align: center;
  background: white;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #c89f9c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
}

.card1,.card2,.card3{
  padding: 10px;
}
.line{
 display: flex;
 flex-wrap: wrap;

}

.rounded{
  height: 50px;
  width:50px;
  margin: 20px;
}
